Importing Libraries

In [2]:
import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv(r"D:\DataAnalysis\Social_Survey_Questionnaire_for_Beneficiaries_0.csv")
type(df)
df

,ObjectID,GlobalID,Logo_TUDresden,Logo_IOER,Name of Researcher: Nathan Namatama,Email: n.namatama@ioer.de,Logo,The social survey questionnaire is meant to gather information on three things:,•\t How social and ecological systems are managed: This includes understanding how communities and natural environments are governed.,"•\t How people's livelihood activities change the landscape: This looks at how different livelihoods impact the land, environment as well as the land use land cover change.",...,Specify:.2,Specify:.3,Specify:.4,Specify:.5,Specify:.6,Specify:.7,Specify:.8,Specify:.9,x,y
0,1,b8330d48-b014-43e9-83ee-65e2eef11c4f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,2,bb5a8756-5fa8-425b-b48e-590943d89688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,3,4330fe39-a7c1-4c52-adf5-80b1ea153095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.628698,-11.663522
3,4,a65873e1-686d-4f03-973d-a4620eb9798b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441380,-11.549158
4,5,d9d192e3-225a-4e27-b439-a5b881a0e26e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,All the cannot change except for hunting,Only the protection nature the others are not ...,NaN,NaN,NaN,When the people come them they give us imforma...,NaN,29.441459,-11.549211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,0b3b2aad-707c-46c2-ac09-4d38e14e1d3d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.202439,-15.374461
146,147,de6da6cc-c6e1-4114-adf0-14a03a50354d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Tgrought word of mouth,Fromm pin,23.201394,-15.377789
147,148,1dd0393e-d55a-4c1c-8052-8c678c177fd3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phones and through word mouth,NaN,23.176112,-15.387063
148,149,49eec3a2-09ae-42f2-b670-b526478ffd0b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phone and word of mouth,NaN,23.173384,-15.389017
149,150,c6b480fe-5961-44c3-b781-bb7d7bb5a1ad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Phones,NaN,23.174897,-15.384159

In [4]:
df.columns

Index(['ObjectID', 'GlobalID', 'Logo_TUDresden', 'Logo_IOER',
       'Name of Researcher: Nathan Namatama', 'Email: n.namatama@ioer.de',
       'Logo',
       'The social survey questionnaire is meant to gather information on three things:',
       '•\t How social and ecological systems are managed: This includes understanding how communities and natural environments are governed.',
       '•\t How people's livelihood activities change the landscape: This looks at how different livelihoods impact the land, environment as well as the land use land cover change.',
       ...
       'Specify:.2', 'Specify:.3', 'Specify:.4', 'Specify:.5', 'Specify:.6',
       'Specify:.7', 'Specify:.8', 'Specify:.9', 'x', 'y'],
      dtype='object', length=120)

In [5]:
df.head(20)

,ObjectID,GlobalID,Logo_TUDresden,Logo_IOER,Name of Researcher: Nathan Namatama,Email: n.namatama@ioer.de,Logo,The social survey questionnaire is meant to gather information on three things:,•\t How social and ecological systems are managed: This includes understanding how communities and natural environments are governed.,"•\t How people's livelihood activities change the landscape: This looks at how different livelihoods impact the land, environment as well as the land use land cover change.",...,Specify:.2,Specify:.3,Specify:.4,Specify:.5,Specify:.6,Specify:.7,Specify:.8,Specify:.9,x,y
0,1,b8330d48-b014-43e9-83ee-65e2eef11c4f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,2,bb5a8756-5fa8-425b-b48e-590943d89688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,3,4330fe39-a7c1-4c52-adf5-80b1ea153095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.628698,-11.663522
3,4,a65873e1-686d-4f03-973d-a4620eb9798b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441380,-11.549158
4,5,d9d192e3-225a-4e27-b439-a5b881a0e26e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,All the cannot change except for hunting,Only the protection nature the others are not ...,NaN,NaN,NaN,When the people come them they give us imforma...,NaN,29.441459,-11.549211
5,6,f880ede6-1bc7-4bf8-9728-fd44f81f51ef,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441402,-11.549137
6,7,7943db1f-cdc7-4689-855c-ae7e10f6758f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Radio station from Samfya,Tralard,29.441377,-11.549271
7,8,74a262f9-486b-470d-b6c7-f6c68ce3a308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441458,-11.549207
8,9,61fd5630-dec8-43dd-8c5d-f50bf33a685b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441432,-11.549209
9,10,2f40f9a3-9050-4b90-8d53-53e6a5641449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441375,-11.549258
10,11,3302d83a-8290-45a9-8fb9-07be93431161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Not burning the bush anayhow because the ferti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.807295,-9.610679
11,12,93415442-4646-4d7a-8e55-c49f6bf5ed95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.809670,-9.607207
12,13,5a8b0f0c-c836-40dd-afb3-0c1a34a99301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Taking of care of nature with destroying it,NaN,NaN,NaN,,28.807510,-9.611849
13,14,0a4fd0c1-ae96-496c-90e5-0aa23d785296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.797007,-9.620945
14,15,d89e12ce-c05e-4404-b9a3-2a1433bd0ce7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.796992,-9.620882
15,16,49fa4312-b258-477c-a1ef-8259cd4efe9a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Taking care of nature,NaN,NaN,NaN,NaN,28.848482,-9.617943
16,17,3da328ae-3484-4821-8345-44590da5683b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.794563,-9.622141
17,18,f1702440-eb16-48fb-bf85-9a5ea0e1e4b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,There is no one alowed to cut trees along the ...,NaN,NaN,"Source of good air, and food prodicts",NaN,NaN,NaN,NaN,31.359544,-12.006407
18,19,754160b7-674d-4de1-8bc7-7fa9a06e5503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.416527,-11.893107
19,20,ede4f45b-7a4b-4585-a9bf-9874bed9ac9b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.305146,-12.064293

In [6]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
ObjectID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
GlobalID,b8330d48-b014-43e9-83ee-65e2eef11c4f,bb5a8756-5fa8-425b-b48e-590943d89688,4330fe39-a7c1-4c52-adf5-80b1ea153095,a65873e1-686d-4f03-973d-a4620eb9798b,d9d192e3-225a-4e27-b439-a5b881a0e26e,f880ede6-1bc7-4bf8-9728-fd44f81f51ef,7943db1f-cdc7-4689-855c-ae7e10f6758f,74a262f9-486b-470d-b6c7-f6c68ce3a308,61fd5630-dec8-43dd-8c5d-f50bf33a685b,2f40f9a3-9050-4b90-8d53-53e6a5641449,3302d83a-8290-45a9-8fb9-07be93431161,93415442-4646-4d7a-8e55-c49f6bf5ed95,5a8b0f0c-c836-40dd-afb3-0c1a34a99301,0a4fd0c1-ae96-496c-90e5-0aa23d785296,d89e12ce-c05e-4404-b9a3-2a1433bd0ce7,49fa4312-b258-477c-a1ef-8259cd4efe9a,3da328ae-3484-4821-8345-44590da5683b,f1702440-eb16-48fb-bf85-9a5ea0e1e4b1,754160b7-674d-4de1-8bc7-7fa9a06e5503,ede4f45b-7a4b-4585-a9bf-9874bed9ac9b
Logo_TUDresden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Logo_IOER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name of Researcher: Nathan Namatama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Specify:.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Specify:.8,NaN,NaN,NaN,NaN,When the people come them they give us imforma...,NaN,Radio station from Samfya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Specify:.9,NaN,NaN,NaN,NaN,NaN,NaN,Tralard,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
x,0.0,0.0,29.628698,29.44138,29.441459,29.441402,29.441377,29.441458,29.441432,29.441375,28.807295,28.80967,28.80751,28.797007,28.796992,28.848482,28.794563,31.359544,31.416527,31.305146
y,0.0,0.0,-11.663522,-11.549158,-11.549211,-11.549137,-11.549271,-11.549207,-11.549209,-11.549258,-9.610679,-9.607207,-9.611849,-9.620945,-9.620882,-9.617943,-9.622141,-12.006407,-11.893107,-12.064293

In [7]:
df.shape

(150, 120)

Missing Values

In [8]:
df.isnull().sum()

ObjectID                                 0
GlobalID                                 0
Logo_TUDresden                         150
Logo_IOER                              150
Name of Researcher: Nathan Namatama    150
                                      ...
Specify:.7                             150
Specify:.8                              60
Specify:.9                             126
x                                        0
y                                        0
Length: 120, dtype: int64

In [9]:
df.isnull().sum().sort_values(ascending=False)

Logo_IOER                              150
Logo_TUDresden                         150
Email: n.namatama@ioer.de              150
Name of Researcher: Nathan Namatama    150
Logo                                   150
                                      ...
Editor                                   0
CreationDate                             0
Creator                                  0
x                                        0
y                                        0
Length: 120, dtype: int64

In [10]:
#df.dropna(inplace=True)

In [11]:
#df

Dropping all the Missing Values

In [12]:
df.isnull().sum().sort_values(ascending=False)

Logo_IOER                              150
Logo_TUDresden                         150
Email: n.namatama@ioer.de              150
Name of Researcher: Nathan Namatama    150
Logo                                   150
                                      ...
Editor                                   0
CreationDate                             0
Creator                                  0
x                                        0
y                                        0
Length: 120, dtype: int64

In [13]:
#df["Ward Name"].value_counts()

In [14]:
#X_train, X_test, y_train, y_test = train_test_split(df["Ward Name"],df["Ward Name"], random_state = 50)

In [15]:
#print(X_train)

In [16]:
#print(df['Ward Name'])

In [17]:
print(df['GlobalID'])

0      b8330d48-b014-43e9-83ee-65e2eef11c4f
1      bb5a8756-5fa8-425b-b48e-590943d89688
2      4330fe39-a7c1-4c52-adf5-80b1ea153095
3      a65873e1-686d-4f03-973d-a4620eb9798b
4      d9d192e3-225a-4e27-b439-a5b881a0e26e
                       ...
145    0b3b2aad-707c-46c2-ac09-4d38e14e1d3d
146    de6da6cc-c6e1-4114-adf0-14a03a50354d
147    1dd0393e-d55a-4c1c-8052-8c678c177fd3
148    49eec3a2-09ae-42f2-b670-b526478ffd0b
149    c6b480fe-5961-44c3-b781-bb7d7bb5a1ad
Name: GlobalID, Length: 150, dtype: object

In [18]:
df[['GlobalID','Specify:.3']]

,GlobalID,Specify:.3
0,b8330d48-b014-43e9-83ee-65e2eef11c4f,NaN
1,bb5a8756-5fa8-425b-b48e-590943d89688,NaN
2,4330fe39-a7c1-4c52-adf5-80b1ea153095,NaN
3,a65873e1-686d-4f03-973d-a4620eb9798b,NaN
4,d9d192e3-225a-4e27-b439-a5b881a0e26e,All the cannot change except for hunting
...,...,...
145,0b3b2aad-707c-46c2-ac09-4d38e14e1d3d,NaN
146,de6da6cc-c6e1-4114-adf0-14a03a50354d,NaN
147,1dd0393e-d55a-4c1c-8052-8c678c177fd3,NaN
148,49eec3a2-09ae-42f2-b670-b526478ffd0b,NaN
149,c6b480fe-5961-44c3-b781-bb7d7bb5a1ad,NaN

Selecting Individual Rows

In [19]:
df.iloc[15]

ObjectID                                                                 16
GlobalID                               49fa4312-b258-477c-a1ef-8259cd4efe9a
Logo_TUDresden                                                          NaN
Logo_IOER                                                               NaN
Name of Researcher: Nathan Namatama                                     NaN
                                                       ...
Specify:.7                                                              NaN
Specify:.8                                                              NaN
Specify:.9                                                              NaN
x                                                                 28.848482
y                                                                 -9.617943
Name: 15, Length: 120, dtype: object

Selecting a Range of Rows

In [20]:
df.iloc[15:26]

,ObjectID,GlobalID,Logo_TUDresden,Logo_IOER,Name of Researcher: Nathan Namatama,Email: n.namatama@ioer.de,Logo,The social survey questionnaire is meant to gather information on three things:,•\t How social and ecological systems are managed: This includes understanding how communities and natural environments are governed.,"•\t How people's livelihood activities change the landscape: This looks at how different livelihoods impact the land, environment as well as the land use land cover change.",...,Specify:.2,Specify:.3,Specify:.4,Specify:.5,Specify:.6,Specify:.7,Specify:.8,Specify:.9,x,y
15,16,49fa4312-b258-477c-a1ef-8259cd4efe9a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Taking care of nature,NaN,NaN,NaN,NaN,28.848482,-9.617943
16,17,3da328ae-3484-4821-8345-44590da5683b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.794563,-9.622141
17,18,f1702440-eb16-48fb-bf85-9a5ea0e1e4b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,There is no one alowed to cut trees along the ...,NaN,NaN,"Source of good air, and food prodicts",NaN,NaN,NaN,NaN,31.359544,-12.006407
18,19,754160b7-674d-4de1-8bc7-7fa9a06e5503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.416527,-11.893107
19,20,ede4f45b-7a4b-4585-a9bf-9874bed9ac9b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.305146,-12.064293
20,21,d98d0ac3-736a-46da-a870-3dfdc47b7a2f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.284064,-12.117444
21,22,13768fb8-75e3-40d2-8beb-11b4f50647b9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,The fire can burn all thr biodiversitity that ...,NaN,NaN,NaN,Workshops or trainings,NaN,31.157178,-12.233935
22,23,053e30ef-1780-485c-beb9-b66929e57d21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,We use phones,NaN,30.620296,-12.403095
23,24,a40cc237-17d5-4b65-b676-f2fa273ede24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Phon,NaN,30.621203,-12.406560
24,25,57bd01ad-0f52-4777-be39-bee9e05cbfe8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.603723,-12.351056
25,26,2c1267e5-e2fa-4cc7-9d96-f646c66379ed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through forest department,NaN,30.606875,-12.346592

A single Cell

In [21]:
df.iloc[15,26]

'Strongly_Disagree_Likert'

In [22]:
df.iloc[15:26,34]

15                     There has never been any lessons
16    There was only lesson conducted by forest , fi...
17    Before the  oroject we were taught how to cary...
18           There were trainging from agrivulture only
19    The tralard had taught him how to protect the ...
20                                 The forest taught us
21    Wevhad lessons from throughba workshop for forest
22    The peole from zawa hadv trqined us tov ptotrc...
23                        There are no lessons received
24                 There lessons have not been adequate
25                                    We have never had
Name: 27. What reasons can you give for your answer above?, dtype: object

Deleting Columns

In [23]:
df=df.drop(df.columns[[1,2,3,4,5,6,7,8,9,10]], axis = 1)

In [24]:
df

,ObjectID,1. Do you agree to take part in the above study?,2. Do you know that your participation is voluntary and you are free to withdraw anytime?,3. Do you give permission to the data that emerges to be used by the researchers only in an anonymised form?,5. Date,6. Ward Name,7. Sub Project Name,8. Type of Livelihood,9. Size (Lima),12. Name of main project,...,Specify:.2,Specify:.3,Specify:.4,Specify:.5,Specify:.6,Specify:.7,Specify:.8,Specify:.9,x,y
0,1,yes,yes,yes,7/29/2024 8:04:00 AM,Isamba ward,Isamba coperatives,Goat rearing,8to12Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,2,yes,yes,yes,7/29/2024 10:10:00 AM,Isamba ward,Misenga cooperative multipurpose society,"Goat rearing, Gardening, Fruit trees",Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,3,yes,yes,yes,7/29/2024 12:13:00 PM,Isamba,Ninge Cooperative,"Goat Rearing, Agricuture-cassava",Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.628698,-11.663522
3,4,yes,yes,no,7/30/2024 6:13:45 AM,Isamba ward,Twikatene copperatives,Goat rearing and Fish farming and garden of ve...,Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441380,-11.549158
4,5,yes,yes,yes,7/30/2024 7:38:00 AM,Isamba ward,Changwena women club,Chicken rearing ablnd an orchard,Lessthan4Lima_Size,TRALARD_LNM,...,NaN,All the cannot change except for hunting,Only the protection nature the others are not ...,NaN,NaN,NaN,When the people come them they give us imforma...,NaN,29.441459,-11.549211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,9/14/2024 7:10:51 AM,Yeta,NaN,Biochar,NaN,EbA_CENTRAL_MUCHINGA_LUAPULA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.202439,-15.374461
146,147,yes,yes,yes,9/14/2024 7:41:55 AM,Yeta,Biochar,Gardening,Lessthan4Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Tgrought word of mouth,Fromm pin,23.201394,-15.377789
147,148,yes,yes,yes,9/14/2024 9:17:50 AM,Yeta,Biochar,Gardening,Lessthan4Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phones and through word mouth,NaN,23.176112,-15.387063
148,149,yes,yes,yes,9/14/2024 10:20:09 AM,Yeta,B iochar,Gardenning,8to12Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phone and word of mouth,NaN,23.173384,-15.389017
149,150,yes,yes,yes,9/14/2024 11:41:21 AM,Yeta ward,"Piggery, fishponds and gardening",Fish ponds and piggery and gerdening,Lessthan4Lima_Size,SCReBS_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Phones,NaN,23.174897,-15.384159

Renaming the Columns

In [25]:
df.columns

Index(['ObjectID', '1. Do you agree to take part in the above study?',
       '2. Do you know that your participation is voluntary and you are free to withdraw anytime?',
       '3. Do you give permission to the data that emerges to be used by the researchers only in an anonymised form?',
       '5. Date', '6. Ward Name', '7. Sub Project Name',
       '8. Type of Livelihood', '9. Size (Lima)', '12. Name of main project',
       ...
       'Specify:.2', 'Specify:.3', 'Specify:.4', 'Specify:.5', 'Specify:.6',
       'Specify:.7', 'Specify:.8', 'Specify:.9', 'x', 'y'],
      dtype='object', length=110)

In [26]:
df1=df.rename(columns= {'1. Do you agree to take part in the above study?': 'Part_study',
       '2. Do you know that your participation is voluntary and you are free to withdraw anytime?':'Participation_Voluntary', '3. Do you give permission to the data that emerges to be used by the researchers only in an anonymised form?': 'Permission'})

In [27]:
df1

,ObjectID,Part_study,Participation_Voluntary,Permission,5. Date,6. Ward Name,7. Sub Project Name,8. Type of Livelihood,9. Size (Lima),12. Name of main project,...,Specify:.2,Specify:.3,Specify:.4,Specify:.5,Specify:.6,Specify:.7,Specify:.8,Specify:.9,x,y
0,1,yes,yes,yes,7/29/2024 8:04:00 AM,Isamba ward,Isamba coperatives,Goat rearing,8to12Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,2,yes,yes,yes,7/29/2024 10:10:00 AM,Isamba ward,Misenga cooperative multipurpose society,"Goat rearing, Gardening, Fruit trees",Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,3,yes,yes,yes,7/29/2024 12:13:00 PM,Isamba,Ninge Cooperative,"Goat Rearing, Agricuture-cassava",Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.628698,-11.663522
3,4,yes,yes,no,7/30/2024 6:13:45 AM,Isamba ward,Twikatene copperatives,Goat rearing and Fish farming and garden of ve...,Greaterthan16Lima_Size,TRALARD_LNM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.441380,-11.549158
4,5,yes,yes,yes,7/30/2024 7:38:00 AM,Isamba ward,Changwena women club,Chicken rearing ablnd an orchard,Lessthan4Lima_Size,TRALARD_LNM,...,NaN,All the cannot change except for hunting,Only the protection nature the others are not ...,NaN,NaN,NaN,When the people come them they give us imforma...,NaN,29.441459,-11.549211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,9/14/2024 7:10:51 AM,Yeta,NaN,Biochar,NaN,EbA_CENTRAL_MUCHINGA_LUAPULA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.202439,-15.374461
146,147,yes,yes,yes,9/14/2024 7:41:55 AM,Yeta,Biochar,Gardening,Lessthan4Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Tgrought word of mouth,Fromm pin,23.201394,-15.377789
147,148,yes,yes,yes,9/14/2024 9:17:50 AM,Yeta,Biochar,Gardening,Lessthan4Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phones and through word mouth,NaN,23.176112,-15.387063
148,149,yes,yes,yes,9/14/2024 10:20:09 AM,Yeta,B iochar,Gardenning,8to12Lima_Size,PIN_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Through phone and word of mouth,NaN,23.173384,-15.389017
149,150,yes,yes,yes,9/14/2024 11:41:21 AM,Yeta ward,"Piggery, fishponds and gardening",Fish ponds and piggery and gerdening,Lessthan4Lima_Size,SCReBS_WESTERN,...,NaN,NaN,NaN,NaN,NaN,NaN,Phones,NaN,23.174897,-15.384159